[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "casabourse"]
	path = casabourse
	url = https://github.com/aodiakite/casabourse
[submodule "shiny.exe"]
	path = shiny.exe
	url = https://github.com/aodiakite/shiny.exe
